<!-- This is a static file -->
<!-- served from your routes in server.js -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="A cool thing made with Glitch">

    <title>Chatbot com Dialogflow</title>

    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <link rel="stylesheet" href="/style.css">

    <script src="/script.js" defer></script>
  </head>
  <body>
  <div class="container">
    <div>
      <h2>Pilates Studio</h2>
      <h3>Por Gabriel Tavares e João Pedro</h3>
      <h5>Diga um "Oi" e começe seu atendimento.</h5>
      <script src="https://www.gstatic.com/dialogflow-console/fast/messenger/bootstrap.js?v=1"></script>
      <df-messenger
              intent="WELCOME"
              chat-title="PilatesScheduler"
              agent-id="1d8d62fe-1bbb-46ab-b1db-e68d2a403826"
              language-code="pt-br"
      ></df-messenger>
    </div>
  </div>
  </body>
</html>
